<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZX_Screen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ZX_Screen.Properties.Settings>
            <setting name="Dir" serializeAs="String">
                <value />
            </setting>
            <setting name="Left" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>750</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Palette" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Col00" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Col01" serializeAs="String">
                <value>0, 0, 192</value>
            </setting>
            <setting name="Col02" serializeAs="String">
                <value>192, 0, 0</value>
            </setting>
            <setting name="Col03" serializeAs="String">
                <value>192, 0, 192</value>
            </setting>
            <setting name="Col04" serializeAs="String">
                <value>0, 192, 0</value>
            </setting>
            <setting name="Col05" serializeAs="String">
                <value>0, 192, 192</value>
            </setting>
            <setting name="Col06" serializeAs="String">
                <value>192, 192, 0</value>
            </setting>
            <setting name="Col07" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="Col10" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Col11" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="Col12" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Col13" serializeAs="String">
                <value>Fuchsia</value>
            </setting>
            <setting name="Col14" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="Col15" serializeAs="String">
                <value>Aqua</value>
            </setting>
            <setting name="Col16" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="Col17" serializeAs="String">
                <value>White</value>
            </setting>
        </ZX_Screen.Properties.Settings>
    </userSettings>
</configuration>